 .u-section-1 {
  background-image: linear-gradient(#fe6043, #3d3d3d);
}

.u-section-1 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 87px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 55px;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 460px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 129px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-image-1 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.4;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  width: 129px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-image-2 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/Picture2.jpg");
  background-position: 50% 50%;
  margin: 26px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  width: 129px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-image-3 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  width: 129px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-image-4 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  width: 876px;
  margin: 26px auto 60px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 439px;
  grid-gap: 30px 30px;
  width: 908px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 39px 0 20px;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 7px auto 0;
}

.u-section-1 .u-image-5 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-1 .u-text-17 {
  line-height: 1.4;
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 18px 39px 0 20px;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 7px auto 0;
}

.u-section-1 .u-image-6 {
  width: 195px;
  height: 195px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-1 .u-text-20 {
  font-style: italic;
  line-height: 1.4;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 373px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1241px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }
}