
 .u-section-1 {
  background-image: linear-gradient(#fe6043, #3d3d3d);
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 33px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 57px 0 0;

}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 82px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 610px;
  background-image: url("images/c.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 132px;
  }

  .u-section-1 .u-image-1 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 92px;
  }

  .u-section-1 .u-image-1 {
    min-height: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1007px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 568px;
  height: 614px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 25px 15px 0;
}

.u-section-2 .u-text-2 {
  margin: 10px 15px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1007px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 23px;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 65px 20px 0 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 30px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 830px;
  }

  .u-section-2 .u-image-1 {
    width: 468px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 359px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 522px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 328px;
    height: 317px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 620px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 620px;
  background-image: linear-gradient(0deg, rgba(219,84,90,0.6), rgba(219,84,90,0.6)), url("images/f1e09e856648dee4d003c226b2efbb60.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 720px;
  background-image: linear-gradient(to right, #fe6043, #3d3d3d);
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  width: 380px;
  margin: 39px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 50px 54px 0 8px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 494px;
  }

  .u-section-3 .u-image-1 {
    min-height: 511px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 378px;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 587px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 370px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -75px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 693px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  margin: 168px 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 53px 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 693px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-4 .u-image-1 {
  width: 568px;
  height: 614px;
  margin: 66px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-4 .u-image-1 {
    width: 468px;
    height: 554px;
    margin-top: 31px;
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-image-1 {
    width: 522px;
    height: 599px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-4 .u-image-1 {
    width: 339px;
    height: 349px;
    margin-top: 30px;
    margin-left: -5px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/8eb017112541a212a9185e43da5c71ab.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 702px;
}

.u-section-5 .u-text-1 {
  margin: 89px auto 0;
}

.u-section-5 .u-list-1 {
  width: 832px;
  grid-template-rows: auto auto auto;
  margin: 64px 129px 30px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 467px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 2px;
}

.u-section-5 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: -1px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -63px 20px 0 95px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 2px;
}

.u-section-5 .u-icon-2 {
  height: 43px;
  width: 43px;
  margin: -1px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -63px 20px 0 95px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 2px;
}

.u-section-5 .u-icon-3 {
  height: 43px;
  width: 43px;
  margin: -1px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: -63px 20px 0 95px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 2px;
}

.u-section-5 .u-icon-4 {
  height: 43px;
  width: 43px;
  margin: -1px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: -63px 20px 0 95px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-5 .u-list-1 {
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 5px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 5px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 5px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 5px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 5px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 5px;
    margin-left: 49px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 5px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 5px;
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 857px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-bottom: 55px;
  margin-top: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 802px;
}

.u-section-6 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-6 .u-image-1 {
  width: 549px;
  height: 565px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 10px;
}

.u-section-6 .u-text-1 {
  margin: -88px auto 0 126px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 802px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 51px 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-6 .u-image-1 {
    width: 468px;
    height: 614px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -23px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 359px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 94px;
    margin-left: 97px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 522px;
    height: 545px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 334px;
    height: 356px;
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: linear-gradient(-90deg, #fe6043, #3d3d3d);
}

.u-section-7 .u-sheet-1 {
  min-height: 510px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 430px;
  margin: 83px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 192px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin: 27px 0 0;
}

.u-section-7 .u-image-1 {
  width: 62px;
  height: 52px;
  margin: 35px auto 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 382px;
  width: 690px;
  margin: -178px -25px 0 auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-gap: 78px 78px;
  grid-template-columns: auto auto auto auto;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-2 {
  height: 128px;
  width: 341px;
  margin: -131px auto 58px 44px;
}

.u-section-7 .u-gallery-inner-2 {
  grid-gap: 78px 78px;
  grid-template-columns: auto auto;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: -138px;
    margin-right: -17px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-7 .u-gallery-2 {
    margin-top: 77px;
    margin-bottom: 60px;
    margin-left: 258px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2188px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1526px;
    margin-top: -178px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-gallery-2 {
    height: 511px;
    margin-top: 20px;
    margin-bottom: 58px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 5439px;
  }

  .u-section-7 .u-gallery-1 {
    height: 4777px;
    width: 540px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-gallery-2 {
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3635px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-7 .u-gallery-1 {
    height: 3008px;
    width: 340px;
  }

  .u-section-7 .u-gallery-2 {
    height: 510px;
    width: 340px;
    margin-left: 0;
  }
}

