 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1858px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: 50px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 1452px;
  grid-gap: 50px 50px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-1 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-5 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-2 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-9 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-3 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-13 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-4 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-14 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-17 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-5 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-18 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-21 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-6 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-22 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-25 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-7 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-26 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-27 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-29 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-8 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-30 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-32 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-33 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-9 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-34 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-36 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-37 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-10 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-38 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-39 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-40 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-41 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-11 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-42 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-43 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-44 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-45 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-12 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-46 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-47 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-48 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-49 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-13 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-25 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-13 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-50 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-52 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-53 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-14 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-27 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-14 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-54 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-56 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-57 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-15 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-29 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-15 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-58 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-59 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-60 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-61 {
  margin: 9px 0 0 123px;
}

.u-section-1 .u-list-item-16 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-31 {
  padding: 30px 15px 0;
}

.u-section-1 .u-group-16 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 328px 0 15px;
}

.u-section-1 .u-text-62 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0 auto;
}

.u-section-1 .u-text-63 {
  font-weight: 400;
  margin: -190px 15px 0 123px;
}

.u-section-1 .u-text-64 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 4px 15px 0 123px;
}

.u-section-1 .u-text-65 {
  margin: 9px 0 0 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 1409px;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    line-height: 0.8;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-5 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-7 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-8 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-9 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-10 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-11 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-45 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-12 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-13 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-14 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-text-55 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-56 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-15 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-61 {
    margin-left: 87px;
  }

  .u-section-1 .u-list-item-16 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-group-16 {
    height: auto;
  }

  .u-section-1 .u-text-63 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-64 {
    width: auto;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-65 {
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    min-height: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 90px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 90px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 90px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    min-height: 90px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    min-height: 90px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    min-height: 90px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    min-height: 90px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    min-height: 90px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    min-height: 90px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    min-height: 90px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
  }

  .u-section-1 .u-group-12 {
    min-height: 90px;
  }

  .u-section-1 .u-text-46 {
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    min-height: 90px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
  }

  .u-section-1 .u-group-14 {
    min-height: 90px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
  }

  .u-section-1 .u-text-55 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
  }

  .u-section-1 .u-text-57 {
    margin-left: 0;
  }

  .u-section-1 .u-group-15 {
    min-height: 90px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
  }

  .u-section-1 .u-text-59 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-60 {
    margin-left: 0;
  }

  .u-section-1 .u-text-61 {
    margin-left: 0;
  }

  .u-section-1 .u-group-16 {
    min-height: 90px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 0;
  }

  .u-section-1 .u-text-63 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-64 {
    margin-left: 0;
  }

  .u-section-1 .u-text-65 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-7 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-11 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-14 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-15 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-18 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-19 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-22 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-23 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-26 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-27 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-30 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-31 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-32 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-34 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-35 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-36 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-38 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-39 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-40 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-42 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-43 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-46 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-47 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-48 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-50 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-51 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-54 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-55 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-56 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-58 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-59 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-60 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-62 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-63 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-64 {
    margin-top: 13px;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-2 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-7 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-3 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-11 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-4 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-15 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-5 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-19 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-6 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-23 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-7 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-27 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-28 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-8 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-31 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-9 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-35 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-10 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-39 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-40 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-11 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-43 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-12 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-47 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-48 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-13 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-51 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-52 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-14 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-54 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-55 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-56 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-15 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-58 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-59 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-60 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-16 {
    width: 65px;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-1 .u-text-62 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-63 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-64 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }
}margin-top: 25px; 